# print statement

In [7]:
num1=20
num2=30
(num1)
(num2)

30

In [9]:
num1=20
num2=30
print(num1)
print(num2)

20
30

In [15]:
num1=20
num2=30
print(num1),print(num2)
num1,num2

20
30

(20, 30)

In [13]:
num1=20
num2=30
print(num1,num2)

20 30

In [17]:
print(20,30,'python')

20 30 python

In [19]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)

the addition of 100 and 200 is 300

In [23]:
name='python' 
age=10
city='hyd'
# my name is python i am 10 years old and from hyd
print('my name is',name,'i am',age,'years old and from',city)

my name is python i am 10 years old and from hyd

# format method

In [32]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [36]:
name='python' 
age=10
city='hyd'
# my name is python i am 10 years old and from hyd
print('my name is',name,'i am',age,'years old and from',city)
print('my name is {} i am {} years old and from {}'.format(name,age,city))
print('my name is {} i am {} years old and from {}'.format(age,name,city))

my name is python i am 10 years old and from hyd
my name is python i am 10 years old and from hyd
my name is 10 i am python years old and from hyd

In [43]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
#the addition of 100 and 200 is 300
#the sub of 100 and 200 is -100
#the mul of 100 and 200 is 20000
# div of 100 and 200 is 0.5
print('the addition of {} and {}is {}'.format(n1,n2,n1+n2))
print('the sub of {} and {} is {}'.format(n1,n2,n1-n2))
print('the mul of {} and {} is {}'.format(n1,n2,n1*n2))
print('div of {} and {} is {}'.format(n1,n2,n1/n2))

the addition of 100 and 200is 300
the sub of 100 and 200 is -100
the mul of 100 and 200 is 20000
div of 100 and 200 is 0.5

# f string method

In [45]:
a=100
b=200
c=a+b
print(f'the addition of {a} and {b} is {c}.')

the addition of 100 and 200 is 300.

In [47]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
#the addition of 100 and 200 is 300
#the sub of 100 and 200 is -100
#the mul of 100 and 200 is 20000
# div of 100 and 200 is 0.5
print(f'the addition of {n1} and {n2}is {n1+n2}')
print(f'the sub of {n1} and {n2} is {n1-n2}')
print(f'the mul of {n1} and {n2} is {n1*n2}')
print(f'div of {n1} and {n2} is {n1/n2}')

the addition of 100 and 200is 300
the sub of 100 and 200 is -100
the mul of 100 and 200 is 20000
div of 100 and 200 is 0.5

- we have a situation want to combine two print statement

$end operator$

In [53]:
print(20,end='==>')
a=20
print(30)

20==>30

In [59]:
print(1,end='==')
print(2,end='==')
print(3)

1==2==3

In [61]:
print(20,'****',30)

20 **** 30

- we want to seperate the multiple variable in one print statement

In [ ]:
print(20,30)

$ seperator $

In [65]:
print(20,30,sep='----->')

20----->30

In [67]:
print(20,30,50,sep='----->')

20----->30----->50

In [69]:
print(20,30,50,sep='>>>>>')

20>>>>>30>>>>>50

- end operator used to combine multiple print statement
   
- sep operator use to seperate the multiple variable in a single print stetementm

In [75]:
print('the addition of 3+4 id',3+4,'.')

the addition of 3+4 id 7 .

In [77]:
the additon of 3+4 is 7.

SyntaxError: invalid syntax (2016820889.py, line 1)

In [81]:
print(f'the addition of 3+4 is {3+4}.')
print('the addition of 3+4 is ',3+4,".",sep='')
print('the addition of 3+4 is {}.'.format(3+4))

the addition of 3+4 is 7.
the addition of 3+4 is 7.
the addition of 3+4 is 7.

- basic 
- fromat
- f string 
- seperator
- end